* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

h1 {
    margin: 0;
    margin-bottom: 12px;
}

.header {
    max-width: 450px;
    width: 100%;
    background-color: #FFE8AD;
    text-align: center;
    padding: 20px;
}

.makeInput #inputText {
    width: calc(100% - 45px);
    border: 1px solid #000;
    border-radius: 4px;
    padding: 10px;
}

.makeInput #inputText:focus {
    outline: none;
}

.makeInput #addList {
    position: relative;
    width: 35px;
    height: 35px;
    border: none;
    background-color: #242423;
    border-radius: 4px;
    cursor: pointer;
    vertical-align: middle;
    color: #fff;
}

.makeInput #addList .List {
    width: -2px;
    height: 15px;
    background-color: #FFE8AD;
    position: absolute;
    top: 50%;
    left: 50%;
}

.makeInput #makeList {
    margin-left: 5px;
    text-align: left;
}

.makeInput #addList .List:last-child{
    transform: translate(-50%,-50%) rotate(-90deg);
}